img{
    max-width: 100%;
}
body{font-family: 'Aboreto', cursive ;}

.bg-black{
    background-color: black;
}
.hello-text{
    
    padding-top: 50px;
    padding-left:10px;
    color: rgb(255, 255, 255);
}
.title{
    color: #fff;
}
.text-a{
    text-transform: lowercase;
    color: #fff;
    font-family:  'Aboreto', cursive;
    font-family: 'Open Sans', sans-serif;
    
}
.btn-hearme{
    background-color: rgb(5, 77, 9);
    width: 120px;
    height: 50px;
    padding-top: 12px;
}
.btn-myprofile{
    margin-left: 10px;
    width: 120px;
    height: 50px;
    padding-top: 12px;
    

}
.img-area{
    padding-top: 5px;
    margin-left: 10px;
}


    


